.row {
  display: flex;
  justify-content: center;
}

.rowData {
  height: 30px;
  width: 30px;
}

.columnData {
  height: 30px;
  width: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns {
  padding-left: 30px;
  display: flex;
  justify-content: center;
}