.row {
  display: flex;
  justify-content: center;
}

.rowData {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.single-value-row {
  margin-right: 10px;
}

.columnData {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns {
  padding-left: 30px;
  display: flex;
  justify-content: center;
}