.game-area {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-end;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.row-data {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.single-value-row {
  margin-right: 10px;
}

.column-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  justify-content: center;
}