.switch {
  display: flex;
  margin: 20px auto;
  height: 30px;
  width: 60px;
  background-color: #dddddd;
  border-radius: 20px;
}

.toggle {
  width: 30px;
  height: 30px;
  background-color: #efefef;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}